
/* DataTable.css */

.datatable-templating-demo{
    justify-content: center;
    align-items: center;
    margin: 5% 20% 20% 20%;
}

.datatable-templating-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

                 
.button-demo .p-buttonset .p-button {
    margin-right: 0;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    width: 1em;
    padding: 0.6rem 0.4rem;
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button, .p-fileupload-choose.p-button-success {
    color: #f3ebeb;
    background: #13C296;
    border: 1px solid #22C55E;
}