body {
  height: 100vh;
   background: white;

}

.slider-thumb::before {
	position: absolute;
	content: "";
	left: 30%;
	top: 20%;
	width: 450px;
	height: 450px;
	background: #17141d;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}


/* dialog-header */

.h6{

left: 7.5%;
right: 7.57%;
top: 28.61%;
bottom: 65.43%;
vertical-align: middle;
padding-top: 8px;
background: #000000;
border-radius: 10px 10px 0px 0px;
margin: 20px;
}

.container{

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.title{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.Card{
width: 1223px;
height: 653px;
left: 108px;
top: 293px;
}


.card-header{
  padding: 10px;
  font-weight: 700;
  background: #DC2626;
  color: #ffffff;
  border-color: #DC2626;
}

.card-footer{
  display: flex;
  flex-direction: row;
  vertical-align:middle; 
  background-color: #f8f9fa;
  justify-content: end;
}


.pi {
   font-size: 1.5em;
   align-items: flex-end;
   vertical-align:middle;
   padding-top: 10px;
   
}

.btn{
  font-size: 0.2rem;
}

.p-button{

  display: flex;
  flex-direction: row;
  padding:0.2rem 1rem;
  margin: 5px;
  display:inline-block;
  
}

.p-button.p-button-warning, .p-buttonset.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button, .p-button-warning {
  font-size: small;
  justify-items: flex-end;
}

.card{
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);}


