a {
    color: black;
    text-decoration: none;}
    
    textarea {
        resize: vertical;
        width: -webkit-fill-available;
        height: 120px;
    }

    .footer{
        display: flex;
        flex-direction: row;
        vertical-align:middle; 
        background-color: #f8f9fa;
        justify-content: end;
      }

      .p-button{
        margin-left: 5px;
        margin-right: 5px;
        display:inline-block;
        font-size:smaller;
        font-family: 'Inter', sans-serif;
      }

      .p-card .p-card-body {
        padding: 0px;
    }

  

