body{
  background: var(--color-bg);
}

.weather__position{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.weather__position-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 6%;
}

@media screen and (max-width: 769px) {
  .weather__position-container{
    display: flex;
  flex: 1;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  }
}